<div class="jumbotron center">
  <h1>Welcome to my sites</h1>
  <h2>The best discussion blog ever</h2>
  <p><%=link_to "Signup for the app", signup_path, class:"btn btn-danger btn-lg btn-xlarge"%></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Automation highlight</h2>
    <p class="text-danger">We will discuss about 2 popular technology for automation</p>
    <p> Selenium with C# and Ruby cucumber </p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Api testing</h2>
    <p>With api testing, we will discover logic bug sooner than ever. </p>
    <p>We will talk about Postman and how to call api in Ruby code</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>General testing knowledge</h2>
    <p>We will discuss all testing knowledge, all your concern can be discussed here.</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
