<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>AUTOMATION</h4>
          <ul>
            <li><a href="#">Selenium C#</a></li>
            <li><a href="#">Ruby cucumber</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>TESTING</h4>
          <ul>
            <li><a href="#">Api testing</a></li>
            <li><a href="#">General testing knowledge</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Contact me</h4>
          <p>Truong Nguyen Anh Vu</p>
          <p>+84 1228 935 368<br>

          </p></div>
      </div>
    </div>
  </div>
</section>