<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>AUTOMATION</h4>
          <ul>
            <li><%= link_to "Selenium C#", ingredient_path(Ingredient.find_by(name:"CSharp")) %></li>
            <li><%= link_to "Ruby cucumber", ingredient_path(Ingredient.find_by(name:"Ruby cucumber")) %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>TESTING</h4>
          <ul>
            <li><%= link_to "Api testing", ingredient_path(Ingredient.find_by(name:"Api testing").nil? ? Ingredient.first : Ingredient.find_by(name:"Api testing")) %></li>
            <li><%= link_to "General testing knowledge", ingredient_path(Ingredient.find_by(name:"General testing knowledge").nil? ? Ingredient.first : Ingredient.find_by(name:"General testing knowledge")) %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Contact me</h4>
          <p>Truong Nguyen Anh Vu</p>
          <p>+84 1228 935 368<br>

          </p></div>
      </div>
    </div>
  </div>
</section>